@font-face {
  font-family: 'GlossAndBloom';
  src: url('#{$fonts}GlossAndBloom.eot');
  src: url('#{$fonts}GlossAndBloom.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts}GlossAndBloom.woff') format('woff'),
       url('#{$fonts}GlossAndBloom.ttf') format('truetype'),
       url('#{$fonts}GlossAndBloom.svg#GlossAndBloom') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rokkitt';
  src: url('#{$fonts}rokkitt-variablefont_wght.eot');
  src: url('#{$fonts}rokkitt-variablefont_wght.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts}rokkitt-variablefont_wght.woff') format('woff'),
       url('#{$fonts}rokkitt-variablefont_wght.ttf') format('truetype'),
       url('#{$fonts}rokkitt-variablefont_wght.svg#rokkitt-variablefont_wght') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'squadaone';
  src: url('#{$fonts}SquadaOne-Regular.eot');
  src: url('#{$fonts}SquadaOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts}SquadaOne-Regular.woff') format('woff'),
       url('#{$fonts}SquadaOne-Regular.ttf') format('truetype'),
       url('#{$fonts}SquadaOne-Regular.svg#SquadaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Variables Polices
$rokkitt : 'rokkitt', Arial, Helvetica, sans-serif;
$squadaone : 'squadaone', Arial, Helvetica, sans-serif;
$floodstd : 'GlossAndBloom', Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('#{$fonts}icomoon.eot?8r0ll9');
  src:  url('#{$fonts}icomoon.eot?8r0ll9#iefix') format('embedded-opentype'),
  url('#{$fonts}icomoon.ttf?8r0ll9') format('truetype'),
  url('#{$fonts}icomoon.woff?8r0ll9') format('woff'),
  url('#{$fonts}icomoon.svg?8r0ll9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-branch:before {
  content: "\e918";
}
.icon-quote:before {
  content: "\e919";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-droplet:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-flower:before {
  content: "\e904";
}
.icon-googleplus:before {
  content: "\e905";
}
.icon-ingredient:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-leaves:before {
  content: "\e908";
}
.icon-leaves-2:before {
  content: "\e909";
}
.icon-massage:before {
  content: "\e90a";
}
.icon-massage-2:before {
  content: "\e90b";
}
.icon-play:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-recover:before {
  content: "\e90e";
}
.icon-relax:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-send:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-stones:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-wave:before {
  content: "\e916";
}
.icon-youtube:before {
  content: "\e917";
}
