@font-face {
    font-family: 'thewoodlands';
    src: url('#{$fonts}thewoodlands-regular.eot');
    src: url('#{$fonts}thewoodlands-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}thewoodlands-regular.woff') format('woff'),
         url('#{$fonts}thewoodlands-regular.ttf') format('truetype'),
         url('#{$fonts}thewoodlands-regular.svg#thewoodlandsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansbold';
    src: url('#{$fonts}opensans-bold.eot');
    src: url('#{$fonts}opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}opensans-bold.woff') format('woff'),
         url('#{$fonts}opensans-bold.ttf') format('truetype'),
         url('#{$fonts}opensans-bold.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansregular';
    src: url('#{$fonts}opensans-regular.eot');
    src: url('#{$fonts}opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}opensans-regular.woff') format('woff'),
         url('#{$fonts}opensans-regular.ttf') format('truetype'),
         url('#{$fonts}opensans-regular.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'minionproregular';
    src: url('#{$fonts}MinionPro-Regular.eot');
    src: url('#{$fonts}MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}MinionPro-Regular.woff') format('woff'),
         url('#{$fonts}MinionPro-Regular.ttf') format('truetype'),
         url('#{$fonts}MinionPro-Regular.svg#minionproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensanslight';
    src: url('#{$fonts}opensans-light.eot');
    src: url('#{$fonts}opensans-light.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}opensans-light.woff') format('woff'),
         url('#{$fonts}opensans-light.ttf') format('truetype'),
         url('#{$fonts}opensans-light.svg#opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensanssemibold';
    src: url('#{$fonts}opensans-semibold.eot');
    src: url('#{$fonts}opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts}opensans-semibold.woff') format('woff'),
         url('#{$fonts}opensans-semibold.ttf') format('truetype'),
         url('#{$fonts}opensans-semibold.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'floodstd';
  src: url('#{$fonts}FloodStd.eot');
  src: url('#{$fonts}FloodStd.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts}FloodStd.woff') format('woff'),
       url('#{$fonts}FloodStd.ttf') format('truetype'),
       url('#{$fonts}FloodStd.svg#FloodStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Variables Polices
$thewoodlands : 'thewoodlands', Arial, Helvetica, sans-serif;
$opensansbold : 'opensansbold', Arial, Helvetica, sans-serif;
$opensansregular : 'opensansregular', Arial, Helvetica, sans-serif;
$minionproregular : 'minionproregular', Arial, Helvetica, sans-serif;
$opensanslight : 'opensanslight', Arial, Helvetica, sans-serif;
$opensanssemibold : 'opensanssemibold', Arial, Helvetica, sans-serif;
$floodstd : 'floodstd', Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('#{$fonts}icomoon.eot?hcay17');
  src:  url('#{$fonts}icomoon.eot?hcay17#iefix') format('embedded-opentype'),
  url('#{$fonts}icomoon.ttf?hcay17') format('truetype'),
  url('#{$fonts}icomoon.woff?hcay17') format('woff'),
  url('#{$fonts}icomoon.svg?hcay17#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-branch:before {
  content: "\e918";
}
.icon-quote:before {
  content: "\e919";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-droplet:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-flower:before {
  content: "\e904";
}
.icon-gp:before {
  content: "\e905";
}
.icon-ingredient:before {
  content: "\e906";
}
.icon-insta:before {
  content: "\e907";
}
.icon-leaves:before {
  content: "\e908";
}
.icon-leaves-2:before {
  content: "\e909";
}
.icon-massage:before {
  content: "\e90a";
}
.icon-massage-2:before {
  content: "\e90b";
}
.icon-play:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-recover:before {
  content: "\e90e";
}
.icon-relax:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-send:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-stones:before {
  content: "\e914";
}
.icon-tw:before {
  content: "\e915";
}
.icon-wave:before {
  content: "\e916";
}
.icon-yt:before {
  content: "\e917";
}
