.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.blk-trailfinder {
    position: relative;
}
.blk-trailfinder__map {
    height: 100vh;
    position: relative;
    z-index: 1;
}
.blk-trailfinder__map__loader {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(7, 32, 62, 0.75);
    z-index: 2;
    color: #00ccff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.blk-trailfinder__map__loader.hide {
    display: none;
}
.blk-trailfinder__map__loader img {
    margin-bottom: 10px;
}
.blk-trailfinder__map__loader p {
    margin: 4px 0;
}
.blk-trailfinder__map__loader__cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}